@media (max-width: 1040px) {
  .title {
    font-size: 40px;
  }
}

.title {
  width: fit-content;
  max-width: 100%;
  margin: 0;
  padding: 0;
  font-size: 60px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 1;
  background: -moz-linear-gradient(90deg, var(--mc1), var(--mc2));
  background: -webkit-linear-gradient(90deg, var(--mc1), var(--mc2));
  background: linear-gradient(to right, var(--mc1), var(--mc2));
  -webkit-background-clip: text;
  -webkit-text-stroke: 4px transparent;
  color: #fff;
  filter: drop-shadow(0 5px 20px rgba(204, 0, 255, 0.15));
}
